@import '../styles/variables.css';

.PokemonCard {
  border: 1px solid black;
  background: linear-gradient(45deg, var(--second-color), var(--first-color));
}

.ant-card .ant-card-head{
    border-bottom: 0;
}

.ant-card-meta-detail .ant-card-meta-description{
    width: fit-content;
    background-color: #272727;
    color: white;
    padding: 3px 10px 5px 10px;
    border-radius: 10px;
}

.ant-card .ant-card-head .ant-card-head-wrapper {
    padding-top: 10px;
}

.ant-card .ant-card-head .ant-card-head-wrapper .ant-card-head-title{
    width: fit-content;
    background-color: #272727;
    color: white;
    padding: 2px 0 4px 0;
    margin-right: 25px;
    border-radius: 10px;
    text-align: center;
}

@media (max-width: 768px) {

    .ant-card .ant-card-head{
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0 7% 0 12%;
    }

    .ant-card .ant-card-head .ant-card-head-wrapper{
        width: 100%;
        margin: 0;
        padding-top: 0;
    }

    .ant-card .ant-card-head .ant-card-head-wrapper .ant-card-head-title{
        margin-right: 0;
        background-color: transparent;
        text-align: start;
    }

    .ant-card-meta-detail .ant-card-meta-description{
        width: 100%;
        text-align: center;
    }
}