.type-selection .ant-select-selector{
    background: black !important;
    min-width: 6rem;
}

.type-selection .ant-select-selector {
    background: black;
    min-width: 6rem;
    border-color: #d9d9d9 !important;
}

.type-selection .ant-select-selector:focus,
.type-selection .ant-select-selector:hover,
.type-selection .ant-select-focused .ant-select-selector,
.type-selection .ant-select-open .ant-select-selector,
.type-selection .ant-select-selector:active {
    border-color: white;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.2);
}

.type-selection .ant-select-selector .ant-select-selection-wrap .ant-select-selection-item{
    color:white;
}

.type-selection .ant-select-arrow,
.type-selection .ant-select-arrow svg {
    color: white;
}


.ant-select-dropdown {
    background: black;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}

.ant-select-item {
    color: white !important;
    background: black;
}

.ant-select-item-option-selected,
.ant-select-item-option-active {
    background: #444 !important;
    color: white;
}
