/* @import '~antd/dist/antd.css'; */

.App {
  padding-top: 3rem;
  background-color: #3B3B3B;
}

.App img{
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .App img{
    margin-bottom: 0;
  }

  .App .ant-col{
    margin-bottom: 1rem;
    margin: 0 1.5rem 1rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .App .ant-col img{
    width: 70%;
  }
}